<!DOCTYPE html>

<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{sitename}} {{siteIndex}} | {{sitename}} Güncel Giriş Sitesi</title>
    <link rel="canonical" href="{{url}}">
    {{!--
    <link rel="amphtml" href="{{amp_url}}"> --}}
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <meta name="designer" content="Karahan">
    <meta name="description"
        content="{{sitename}} {{siteIndex}} güncel adres.{{sitename}} yeni giriş adresi için sitemizi ziyaret edebilirsiniz. ">
    <meta name="robots" content="index,follow, max-snippet:-1, max-video-preview:-1, max-image-preview:large">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="{{twitter_site}}">
    <meta name="twitter:creator" content="{{twitter_site}}">
    <meta name="twitter:title" content="{{sitename}} {{siteIndex}} | {{sitename}} güncel giriş linkleri ve adresleri">
    <meta name="twitter:description"
        content="{{sitename}} {{siteIndex}} güncel adres.{{sitename}} yeni giriş adresi için sitemizi ziyaret edebilirsiniz. ">

    <meta property="og:type" content="website">
    <meta property="og:locale" content="tr_TR">
    <meta property="og:url" content="{{url}}">
    <meta property="og:title" content="{{sitename}} {{siteIndex}} | {{sitename}} Güncel Giriş Sitesi">
    <meta property="og:description"
        content="{{sitename}} {{siteIndex}} güncel adres.{{sitename}} yeni giriş adresi için sitemizi ziyaret edebilirsiniz. ">
    <meta property="og:site_name" content="{{sitename}} Güncel Giriş Adresi">
    <meta property="og:image" content="assets/thumbnail.webp">
    <meta name="thumbnail" content="assets/thumbnail.webp">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jqueryui@1.11.1/jquery-ui.min.css" />
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="{{publicdata}}.css">
    <script type="application/ld+json">
     {
         "@context": "https://schema.org",
         "@graph": [
            {
                 "@type": "WebPage",
                 "@id": "{{url}}",
                 "url": "{{url}}",
                 "sameAs":[
                    "{{url}}"
                 ],
                 "name": "{{sitename}} {{siteIndex}} | {{sitename}} güncel giriş linkleri ve adresleri",
                 "isPartOf": {
                     "@id": "{{url}}/#website"
                 },
                 "primaryImageOfPage": {
                     "@id": "{{url}}/#primaryimage"
                 },
                 "image": {
                     "@id": "{{url}}/#primaryimage" 
                 },
                 "thumbnailUrl": "{{url}}/assets/thumbnail.webp",
                 "description": "{{sitename}} {{siteIndex}} güncel adres.{{sitename}} yeni giriş adresi için sitemizi ziyaret edebilirsiniz. ",
                 "inLanguage": "tr",
                 "potentialAction": [{
                     "@type": "ReadAction",
                     "target": [
                         "{{url}}"
                     ]
                 }]
             },
             {
                 "@type": "ImageObject",
                 "inLanguage": "tr",
                 "@id": "{{url}}/#primaryimage",
                 "url": "{{url}}/assets/thumbnail.webp",
                 "contentUrl": "{{url}}"
             },
             {
                 "@type": "BreadcrumbList",
                 "@id": "{{url}}/#breadcrumb",
                 "itemListElement": [{
                     "@type": "ListItem",
                     "position": 1,
                     "name": "{{sitename}} {{siteIndex}} | {{sitename}} güncel giriş linkleri ve adresleri"
                 }]
             },
             {
                 "@type": "WebSite",
                 "@id": "{{url}}/#website",
                 "url": "{{url}}",
                 "name": "{{sitename}} {{siteIndex}} | {{sitename}} güncel giriş linkleri ve adresleri",
                 "description": "{{sitename}} {{siteIndex}} güncel adres.{{sitename}} yeni giriş adresi için sitemizi ziyaret edebilirsiniz. ",
                 "inLanguage": "tr"
             }
         ]
     }
 </script>


</head>

<body >
 
    {{{body}}}
    
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script async src="https://code.jquery.com/ui/1.14.1/jquery-ui.min.js"></script>
    <script src="/main.js"></script>
    <script src="{{publicdata}}.js"></script>
</body>

</html>