<!DOCTYPE html>

<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{sitename}} | Ürün ve Sistem Belgelendirme Hizmetleri</title>
    <link rel="canonical" href="{{url}}">
    {{!--
    <link rel="amphtml" href="{{amp_url}}"> --}}
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <meta name="designer" content="Karahan">
    <meta name="description" content="{{sitename}} | Ürün ve Sistem Belgelendirme Hizmetleri ">
    <meta name="robots" content="index,follow, max-snippet:-1, max-video-preview:-1, max-image-preview:large">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@artidoksancert">
    <meta name="twitter:creator" content="@artidoksancert">
    <meta name="twitter:title" content="{{sitename}} | Ürün ve Sistem Belgelendirme Hizmetleri">
    <meta name="twitter:description" content="{{sitename}} | Ürün ve Sistem Belgelendirme Hizmetleri ">

    <meta property="og:type" content="website">
    <meta property="og:locale" content="tr_TR">
    <meta property="og:url" content="{{url}}">
    <meta property="og:title" content="{{sitename}} | Ürün ve Sistem Belgelendirme Hizmetleri">
    <meta property="og:description" content="{{sitename}} | Ürün ve Sistem Belgelendirme Hizmetleri ">
    <meta property="og:site_name" content="{{sitename}} Güncel Giriş Adresi">
    <meta property="og:image" content="assets/thumbnail.webp">
    <meta name="thumbnail" content="assets/thumbnail.webp">
    <link rel="preload" href="/fonts/The-Icon-of.woff2" as="font" crossorigin="anonymous" />
       <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,400..700&display=swap"  rel="stylesheet">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="{{publicdata}}.css">
    <script type="application/ld+json">
     {
         "@context": "https://schema.org",
         "@graph": [
            {
                 "@type": "WebPage",
                 "@id": "{{url}}",
                 "url": "{{url}}",
                 "sameAs":[
                    "{{url}}"
                 ],
                 "name": "{{sitename}} | Asansör CE Belgelendirme Hizmetleri",
                 "isPartOf": {
                     "@id": "{{url}}/#website"
                 },
                 "primaryImageOfPage": {
                     "@id": "{{url}}/#primaryimage"
                 },
                 "image": {
                     "@id": "{{url}}/#primaryimage" 
                 },
                 "thumbnailUrl": "{{url}}/assets/thumbnail.webp",
                 "description": "{{sitename}} | Ürün ve Sistem Belgelendirme Hizmetleri",
                 "inLanguage": "tr",
                 "potentialAction": [{
                     "@type": "ReadAction",
                     "target": [
                         "{{url}}"
                     ]
                 }]
             },
             {
                 "@type": "ImageObject",
                 "inLanguage": "tr",
                 "@id": "{{url}}/#primaryimage",
                 "url": "{{url}}/assets/thumbnail.webp",
                 "contentUrl": "{{url}}"
             },
             {
                 "@type": "WebSite",
                 "@id": "{{url}}/#website",
                 "url": "{{url}}",
                 "name": "{{sitename}} | Asansör CE Belgelendirme Hizmetleri",
                 "description": "{{sitename}} | Ürün ve Sistem Belgelendirme Hizmetleri",
                 "inLanguage": "tr"
             }
         ]
     }
 </script>

</head>

<body>

    {{> header}}
    <div class="px-5">
        <div class="max-w-[--max-width] mx-auto text-black py-5 flex items-center">
            <div class="urun-menu-btn lg:hidden mr-4">
                <i class="tio text-[2rem] tioclose">menu_hamburger</i>
            </div>
            <h1 class="text-[1.8rem] lg:text-[2.4rem]">Ürün Belgelendirme</h1>
        </div>

        <div class="max-w-[--max-width] mx-auto text-black xl:flex min-h-[500px] relative ">

            <div
                class="urun-menu hidden  absolute top-0 left-0 h-auto w-full z-10 lg:relative xl:block xl:w-1/4  pr-5  pb-5  xl:pb-10">
                <div class="sticky top-0 pt-5 pb-5 xl:pr-5 xl:pb-10 rounded-lg bg-[whitesmoke]">
                    <ul class="pl-5 ">
                        <li class=" relative  border-b border-gray-300 py-2 pt-6">
                            <a href="/urun-belgelendirme/lift" class="block">
                                <div class="font-semibold text-[1.2rem] text-gray-700">
                                    Asansör Yönetmeliği
                                </div>
                                <div class="text-[2.4rem] font-bold text-blue-500/20 absolute -top-[10%] left-1/4">
                                    2014/33/EU
                                </div>
                            </a>
                        </li>
                        <li class=" relative  border-b border-gray-300 py-2 pt-6">
                            <a href="/urun-belgelendirme/machinery" class="block">
                                <div class="font-semibold text-[1.2rem] text-gray-700">
                                    Makinet Emniyet Yönetmeliği
                                </div>
                                <div class="text-[2.4rem] font-bold text-blue-500/20 absolute -top-[10%] left-1/4">
                                    2006/42/AT
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="w-full xl:w-1/2 pb-5 xl:pb-0">
                {{{body}}}
            </div>
            <div class="w-full xl:w-1/4   px-5">
                <div class="sticky top-0 flex flex-col space-y-4 pb-10">
                    <div class="p-4 rounded-lg bg-[whitesmoke] text-center font-semibold frm-area">
                        <h3>Formlar</h3>

                    </div>
                    <div class="p-4 rounded-lg bg-[whitesmoke] text-center font-semibold pt-10 pb-5">
                        <div class="text-center">Müşteri temsilcilerimizle iletişime geçerek taleplerinizi
                            iletebilirsiniz.
                        </div>
                        <div class="flex items-center space-x-2 justify-center">
                            <span class="tio text-[2rem] text-[--thm-color] py-5">call</span>
                            <span class="text-[1.4rem] text-gray-600">+90 523 2349212</span>
                        </div>
                    </div>
                    <div class="p-4 rounded-lg bg-[whitesmoke]  font-semibold pt-10 pb-5 space-y-3">
                        <h3>İletişim Formu</h3>
                        <div>
                            <label for="name" class="form-label">Ad
                                Soyad</label>
                            <input type="text" id="name" class="form-text" placeholder="Ad Soyad" required />
                        </div>
                        <div>
                            <label for="first_name" class="form-label">Telefon</label>
                            <input type="text" id="first_name" class="form-text" placeholder="90 5XX XXX XXXX"
                                required />
                        </div>
                        <div>
                            <label for="first_name" class="form-label">E
                                Posta</label>
                            <input type="text" id="first_name" class="form-text" placeholder="Email adresiniz"
                                required />
                        </div>
                        <div>
                            <label for="message" class="form-label">Mesajınız</label>
                            <textarea id="message" rows="4" class="form-text"
                                placeholder="Buraya mesajınızı giriniz..."></textarea>
                        </div>
                        <div class="text-center">
                            <button type="button" class="btn-blue">Gönder</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{> footer}}

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="/main.js"></script>
    <script src="{{publicdata}}.js"></script>
</body>

</html>